// ---- Global-Tags ----
html {
  overflow-x: hidden;
  box-sizing: border-box;
  &.hidden {
    overflow-y: hidden;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.mini {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
a {
  transition: 0.2s;
  color: #000;
  &:hover {
    color: $main;
  }
}
button {
  transition: 0.2s;
}

// ---- Global-Classes ----
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.title {
}

.btn {
  padding: 6px 21px;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  background: $main;
  color: #fff;
  transition: 0.3s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  &.disabled {
    color: #a39c9c;
    background-color: #d0ccc3;
    pointer-events: none;
  }
}
.btn2 {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
}

.input {
  position: relative;
  &.error {
    input {
      border-color: #d34d4d !important;
      color: #d34d4d;
    }
  }
  input {
    font-family: $font;
    padding: 6px 10px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    transition: 0.2s;
    padding-right: 30px;
    width: 100%;
    border: 1px solid $gray;
    &:focus {
      border-color: #000 !important;
    }
    &::placeholder {
      color: $gray;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  svg {
    position: absolute;
    width: 20px;
    height: auto;
    fill: $gray;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      fill: #000;
    }
  }
}

.wrapper {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(#000, 0.3);
  }
}

// ScrollBar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $main;
}
::-webkit-scrollbar-track {
  background-color: #000;
}

// Selection
::selection {
  background: rgba($main, 0.6) !important;
}
